.header {
    display: flex;
    justify-content: space-between;
    padding: 58px 58px 0 56px;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.header button {
    width: 97px;
    height: 33px;
    margin: -5px 0 0 25px;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.55px;
    text-align: center;

    border: none;
}

.header p {
    height: 39px;
}

.header p:hover {
    border-bottom: #FFFF 2px solid;
    box-sizing: border-box;
}

.wrapper-menu-items-h div {
    display: flex;
    gap: inherit;
    
    margin-right: 4px;
    letter-spacing: 0.50px;
}

.wrapper-menu-items-h {
    display: flex;
    gap: 128px;
    padding-top: 21px;
}

.wrapper-menu-items-h > p:first-child,
.wrapper-menu-items-h > p:nth-child(4) {
    padding-top: 1px;
    margin-right: -3px;
}

.header img:first-child {
    margin-top: 1px;
}

.header img:last-child {
    padding-top: 20px;
    width: 52px;
    height: 26px;
}

.header img:last-child:hover {
    filter: opacity(0.3) drop-shadow(0 0 0 #aa84f9);
}

.wrapper-menu-parts-h {
    display: flex;
    gap: 75px;
    justify-content: flex-start;
}