.section-6-video-start-now {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 0 56px 0 56px;
    margin-bottom: 70px;
    height: 806px;
}

.wrapper-central-video-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url('../images/section6/video.png') no-repeat;
    background-size: 100% 100%;

    height: 606px;
    width: 1044px;
}

.wrapper-central-video-6 p {
    padding-top: 45px;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 83px;
    letter-spacing: 4.4px;
    color: #111;
    text-transform: uppercase;
    opacity: 0.17;
}

.wrapper-central-video-6 img {
    margin-top: 25px;
    margin-right: 65px;
    mix-blend-mode: hard-light;
}

.wrapper-central-video-6 img:hover {
    filter: hue-rotate(-20deg);
}

.wrapper-central-video-6 p:last-child {
    padding-right: 57px;
}

.wrapper-central-video-6 p:first-child {
    padding-left: 57px;
}

.wrapper-side-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;

    height: 606px;
}

.wrapper-side-6.aligned-left-6 div {
    padding-right: 65px ;
}
 
.wrapper-side-6.aligned-left-6 p {
    width: 140px ;
}
.wrapper-side-6 p {
    width: 200px;
    padding: 0 45px 0 49px;
}

.aligned-left-6 p {
    text-align: right;
}

.wrapper-side-6 div {
    display: flex;
    transform: rotate(270deg);
}

.aligned-left-6 img {
    transform: rotate(90deg);
    height: 59px;
}

.aligned-right-6 img {
    transform: rotate(-90deg);
    height: 59px;
}

.aligned-left-6 div {
    margin-top: 75px;
    margin-right: 3px;
}

.aligned-right-6 div {
    align-items: center;
    margin-bottom: 58px;
    margin-left: 12px;
}
