.section-7-reviews-comments {
    display: flex;
    align-items: center;
    height: 858px;
    padding: 0 56px 0 56px;
}

.section-7-reviews-comments > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper-top-text-7 {
    height: 194px;
    padding-top: 50px;
    
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 4.2px;
    text-align: center;
    line-height: 52.8px;
    color: #aa84f9;
}

.wrapper-top-text-7 span {
    font-weight: 700;
    font-size: 93px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}

.wrapper-all-reviews-7 {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 440px;
}

.wrapper-review-7 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    height: 413px;
    
    text-align: center; 
}

.wrapper-reviews-img-block-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    width: 168px;
    height: 168px;

    margin-bottom: 2px;
    border: #9172d1 3px solid;
    border-radius: 50%;
}

.wrapper-name-7 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    text-transform: uppercase;
    color: #aeaeae;

    padding-bottom: 11px;
}

.wrapper-stars-7 {
    display: flex;
    justify-content: space-around;

    width: 160px;
    
    padding-bottom: 4px;
}

.quotes-7 {
    position: relative;
    
    height: 120px;
    width: 251px;

    text-align: justify;
    text-align-last: center;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 24px;
    color: #aeaeae;
    
    margin-top: 5px;
    margin-bottom: -2px;
}

.quotes-7 p {
    width: 231px;

    margin-left: 10px;
}

.quote-ico-7 {
    position:absolute;
    
    font-size: 23px;
    vertical-align: -0.125em;
    color: #9172d1;
    
    margin-left: -5px;
}

.quote-left-7 {
    top: -10px;
    left: -12px;
}

.quote-right-7 {
    right: -12px;
    bottom: 13px;
}

.wrapper-bottom-arrows-7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center; 

    width: 220px;
    height: 96px;

    margin-right: 3px;
}

.wrapper-bottom-arrows-7 img:first-child {
    transform: rotate(90deg); 
}

.wrapper-bottom-arrows-7 img:last-child {
    transform: rotate(-90deg);
}

.wrapper-bottom-arrows-7 img:hover {
    filter: opacity(0.3) drop-shadow(0 0 0 #aa84f9);
}
