* {
    margin: 0px;
    padding: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

body {
    background-color: #181818;
    font-family: 'Krub', sans-serif;
    color: #FFF;
    display: flex;
    justify-content: center;

}

.hero-wrapper {
    width: 1440px;
    overflow: hidden;
}

/* 
    гарнитура Krub встречается чаще, 
    поэтому она прописана в body. 
    В классах текстовых тегов, где 
    встречается Oswald, используем:

    font-family: 'Oswald', sans-serif;

    Что касается весов, то вот шпаргалочка:

    Light                       300
    Regular                     400
    Medium                      500              
    Semibold                    600
    Bold                        700 

*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 58px 58px 0 56px;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.header button {
    width: 98px;
    height: 33px;
    margin: -6px 0 0 25px;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.55px;
    text-align: center;
}

.header p {
    height: 39px
}

.header p:hover {
    border-bottom: #FFFF 2px solid;
    box-sizing: border-box;
}

.wrapper-menu-items {
    display: flex;
    gap: 128px;
    padding-top: 15px;
}

.header img:first-child {
    margin-top: -6px;
}

.header img:last-child {
    padding-top: 13px;
    width: 52px;
    height: 26px;
}

.wrapper-menu-parts {
    display: flex;
    gap: 74px;
    justify-content: flex-start;
}

/* SECTION 1 (photo, let's start 
    button, +150 50 +100 panel) */

.section-1-lets-start{
    padding: 58px 56px 0 56px;
    height: 900px;
}   
    
.wrapper-side-top-1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 67px;
}
    
.wrapper-aligned-left-1{
    margin-left: -6px;
    padding-top: 54px;
}


.wrapper-aligned-left-1 img{
    transform: rotate(90deg);
}

.wrapper-aligned-left-1 h1{
    font-weight: 700;
    font-size: 131.1px;
    text-transform: uppercase;
    height: 325px;
}
    
.wrapper-aligned-left-1 span{
    color: #a460f9;   
}
    
.wrapper-aligned-bottom-left-1{
    margin-left: 85px;
}
.wrapper-aligned-bottom-left-1 h2{
    font-size: 43.4px;
    letter-spacing: 4.34px;
    font-weight: 500;
    text-transform: uppercase;
    transform-origin: left;
    transform: rotate(270deg);
    margin-top:55px;
    margin-left:-62px;
    
}
    
.wrapper-aligned-bottom-left-1 span{
    color: #FFF; 
    font-weight: 700;
    text-transform: lowercase; 
}
    
.wrapper-aligned-bottom-left-1 i{
    width:27px;
}
    

.wrapper-aligned-bottom-left-1 p{
    font-size: 14.03px;
    font-weight: 700;
    line-height: 25.93px;
    text-transform: uppercase;
    margin-left: 73px;
}

.wrapper-aligned-bottom-left-1 h3{
    font-size: 14.03px;
    font-weight: 700;
    line-height: 25.93px;
    text-transform: uppercase;
    margin-left: 100px;
}

.wrapper-aligned-center-1{
    margin-top: 95px;
    width:450px;
    margin-left: 99px;
}
    
.wrapper-aligned-center-1 img{
    margin-top: -85px;
    position:absolute;
}
    
.wrapper-circle-1{
    margin-top: 72px;
    width: 375px;
    height: 375px;
    background-color: #b960fd;
    border-radius: 50%;
    margin-left:-17px;
    
}

.wrapper-aligned-right-1{
    width:317px;
}

.wrapper-aligned-right-top-1{
    margin-left: 95px;
    height: 164px;
}

.wrapper-aligned-right-border-1{
    border: 2px solid #f1f1f1;
    height: 102px;
    width: 179px;
    margin-top:68px;
    margin-left:100px;
}

.wrapper-aligned-right-border-1 h1{
    text-transform: uppercase;
    font-size: 17.04px;
    font-weight: 700;
    letter-spacing: 3.07px;
    margin-left: 36px;
    margin-top: 20px;
}
    

.wrapper-aligned-right-bottom-1{
    width: 300px;
    margin-left: -62px;
}
.wrapper-aligned-right-border-1 h3{
    font-size: 28.88px;
    font-weight: 700;
    letter-spacing: 5.776px;
    margin-left: 36px;
    
}

.wrapper-aligned-right-bottom-1 h2{
    text-transform: uppercase;
    font-size: 19.73px;
    font-weight: 600;
    line-height: 28.89px;
    letter-spacing: 0.49325px;
}
    
.wrapper-aligned-right-bottom-1 p{
    font-size: 14.25px;
    font-weight: 600;
    line-height: 26.73px;
    letter-spacing: 0.21375px;
}

.wrapper-aligned-right-bottom-1 div{
    margin-top:11px;
    margin-bottom: 39px;
}
    
 .wrapper-aligned-right-bottom-button-1{
    display: flex;
    margin-left: -56px;
 }   
 
 .wrapper-aligned-right-bottom-button-1 p{
    font-family: 'Oswald', sans-serif;
    font-size: 14.4px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top:13px;
    margin-left:29px;
}
 
 .wrapper-aligned-right-bottom-button-1 button {
    width: 125px;
    height: 48px;
    padding-left: 2px;
    background-color: #b960fd;
    border: 1px solid rgb(84, 49, 111);
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 14.4px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-left: 55px;
}
    
.wrapper-aligned-right-bottom-button-1 button:hover {
    color: #b960fd;
    background-color: #FFF;
}

.wrapper-aligned-right-bottom-1 img{
    transform: rotate(-90deg);
}

.wrapper-side-bottom-1{
    
    display: flex;
    justify-content: space-between;
    position:absolute;
    height: 210px;
    width: 1440px;
    border: 16px solid rgb(20,20,20);
    background-color: rgb(24,24,24);

}


.wrapper-line-aligned-left-1 {
    width: 300px;
    margin-top: 78px;
    margin-left: 85px;
    display: flex;
}

.wrapper-number-1.aligned-left-1{
    margin-top: -15px;
    margin-left: -12px;
}

.wrapper-number-1.aligned-left-1 p{
    font-family: 'Oswald', sans-serif;
    font-size: 50.92px;
    font-weight: 500;

}

.wrapper-number-1.aligned-left-1 span{
    color:rgb(164,96,249)

}

.wrapper-text-1.aligned-left-1 h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22.07px;
    letter-spacing: 2.2px;
    margin-top: -3px;
    margin-left: 20px;
}

.wrapper-text-1.aligned-left-1 h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22.07px;
    letter-spacing: 2.2px;
    margin-left: 20px;
    margin-top: -1px;
}

.wrapper-line-aligned-center-1 {
    width: 246px;
    margin-top: 78px;
    margin-left: 85px;
    display: flex;
}


.wrapper-number-1.aligned-center-1{
    margin-top: -15px;
    margin-left: -64px;
}

.wrapper-number-1.aligned-center-1 p{
    font-family: 'Oswald', sans-serif;
    font-size: 50.92px;
    font-weight: 500;

}

.wrapper-number-1.aligned-center-1 span{
    color:rgb(164,96,249)

}

.wrapper-text-1.aligned-center-1 h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22.07px;
    letter-spacing: 2.2px;
    margin-top: -3px;
    margin-left: 18px;
}

.wrapper-text-1.aligned-center-1 h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22.07px;
    letter-spacing: 2.2px;
    margin-left: 18px;
    margin-top: -1px;
}

.wrapper-line-aligned-right-1 {
    width: 370px;
    margin-top: 78px;
    margin-left: 85px;
    display: flex;
}


.wrapper-number-1.aligned-right-1{
    margin-top: -15px;
    margin-left: -64px;
}

.wrapper-number-1.aligned-right-1 p{
    font-family: 'Oswald', sans-serif;
    font-size: 50.92px;
    font-weight: 500;

}

.wrapper-number-1.aligned-right-1 span{
    color:rgb(164,96,249)

}

.wrapper-text-1.aligned-right-1 h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22.07px;
    letter-spacing: 2.2px;
    margin-top: -3px;
    margin-left: 8px;
}

.wrapper-text-1.aligned-right-1 h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22.07px;
    letter-spacing: 2.2px;
    margin-left: 8px;
    margin-top: -1px;
}



/* SECTION 2 (accept new challenges,
   explore, about, down arrow) */

.section-2-new-challenges {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    padding: 0 56px 0 56px;
    height: 860px;
}

.wrapper-top-2 {
    display: flex;
    justify-content: space-between;

    height: 513px;
}

.wrapper-side-2 {
    display: flex;
    flex-direction: column;

    width: 100px;
    font-weight: 700;
}

.wrapper-side-2 p {
    font-size: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    white-space: nowrap;
}
 
.aligned-left-2 {
    justify-content: space-evenly;
}

.aligned-right-2 div {
    transform: rotate(90deg);
    transform-origin: right;
    margin: 0 7px 0 84px;
}

.aligned-left-2 div {
    transform: rotate(270deg);
    transform-origin: left;
    margin: 0 0 57px 5px;
}

.wrapper-side-2 div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.wrapper-central-header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    font-size: 57px;
    line-height: 100px;
    letter-spacing: 5.2px;
    text-transform: uppercase;
    text-align: center;

    margin-top: 20px;
    margin-left: 3px ;

    background: url('../images/oval_with_circles.png') no-repeat;
    background-size: 74.5%;
    background-position: 139px 33px;
}

.wrapper-central-header-2 span {
    letter-spacing: 5px;
    font-weight: 300;
}

.wrapper-bottom-2 {
    display: flex;
    justify-content: space-between;
}

.wrapper-bottom-2 p {
    font-weight: 700;
    color: #252525;
    font-size: 52px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 250px;
}

.wrapper-bottom-2 img {
    padding-top: 16px;
}

.wrapper-bottom-2 img {
    padding-top: 16px;
}

.wrapper-bottom-2 p:last-child {
    text-align: end;
    padding-right: 2px;
}

/* section 3 (find your course,
four course cards, more courses)  */

.section-3-courses {
    height: 835px;
    padding: 0 56px 0 56px;

}

.wrapper-title-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.header-left-3 {
    margin-left: -7px;
    font-size: 29.75pt;
    font-weight: 400;
}


.header-left-3 span:first-child {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 116px;
    text-transform: uppercase;
}

.header-left-3 span:last-child {
    letter-spacing: 3.1px;
    padding-left: 1px;
}

.wrapper-title-right-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;

    font-weight: 700;
    font-size: 17.5px;
    letter-spacing: 3.4px;
    line-height: 28px;
    text-transform: uppercase;

    padding-bottom: 13px;
    margin-right: -4px;
}

.wrapper-title-right-3 span {
    font-size: 30px;
    letter-spacing: 6px;
}
 
.wrapper-title-right-3 i {
    padding-bottom: 48px;
}

.wrapper-cards-3 {
    display: flex;
    align-items: center;
}

.wrapper-cards-3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 45px;

    margin-top: 37.5px;
    margin-left: -1px;
}

.wrapper-card-3 {
    width: 291px;
    height: 376px;
    border: 3px solid white;
    box-sizing: border-box;
}

.wrapper-card-3.wrapper-card-3:first-child  {
    margin-right: 15px;
}

.wrapper-card-3.wrapper-card-3:last-child {
    margin-left: 12px;
}

.wrapper-card-3 p:first-child {
    width: 45px;
    height: 44px;

    margin-left: -2px;

    background-color: white;

    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    color: black;
    line-height: 46px;
    line-height: 42px;
    letter-spacing: 1.5px;
}

.wrapper-card-3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper-card-3 div p {
    width: 209px;

    margin-bottom: 31px;

    font-size: 10.26pt;
    font-weight: 600;
    text-align: justify;
    line-height: 26.5px;
    letter-spacing: 1px;
    text-align-last: center;
}

 
.wrapper-card-3 h3 {
    margin-top: 29px;
    margin-bottom: 13px;

    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.wrapper-card-3 h3 span {
    color: #b885fc;
}

.wrapper-card-3 hr {
    width: 53px;
    height: 2px;

    background-color: #b885fc;
    border-radius: 10%;
    margin-bottom: 17px;
    border: black 1px solid;
}

.wrapper-card-3 button {
   width: 125px;
   height: 48px;

   padding-bottom: 3px;

   background-color: #b885fd; 
   border: 1px solid rgb(84, 63, 11);

   font-family: 'Oswald', sans-serif;
   font-size: 15px;
   font-weight: 700;
   letter-spacing: 0.6px;
   color: #FFF;
   text-transform: uppercase;
}

.wrapper-card-3 button:hover {
    color: #b885fd;
    background-color: #FFF;
}

.wrapper-more-courses-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 46px 69px 0 0;

    letter-spacing: 0.6px;
    font-weight: 700;
}

.wrapper-more-courses-3 p {
    margin-right: 81px;
    font-weight: 700;
    text-transform: uppercase;

}

.wrapper-more-courses-3 p:hover {
    color:#b885fd
}

.wrapper-more-courses-3 img {
    transform: rotate(-90deg);
}

/* SECTION 5 (y us, read море)*/

.section-5-why-us-more{
    display: flex;
    justify-content: space-between;
    
    height: 700px;      /* i guess, this will be modified */
    padding: 0 56px 0 56px;
}

.wrapper-side-left-dude-in-circle-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    

    width: 664px;
    height: 642px;

    background: url('../images/section5_oval_transformed.png') no-repeat;
    background-size: 100%;
    background-position-y: 31px;
}

.wrapper-side-left-dude-in-circle-5 img {
    margin-left: 76px;
    position: absolute;
}

.wrapper-side-right-texter-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    margin: 72px -56px 0 0;
    width: 560px;
    height: 579px;
}

.wrapper-text-no-circle-5 {
    display: flex;
}

.wrapper-side-right-main-text-5 {
    width: 500px;
}

.wrapper-side-right-main-text-5 p:first-child {
    margin: 58px 0 51px 0;
}

.wrapper-side-right-main-text-5 p {
    width: 376px;
    margin-bottom: 39px;
    
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 24.8px;
}

.wrapper-side-right-main-text-5 p:first-child {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 4px;
}

.wrapper-side-right-main-text-5 span {
    padding-left: 10px;
    color: #aa84f9;
    letter-spacing: 8px;
    font-size: 58px;
    font-weight: 400;
}

.wrapper-side-right-main-text-5 button {
    width: 126px;
    height: 50px;
    
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #ffffff;
    font-weight: 600;
   
    border: none;
    background-color: #aa84f9;
}

.wrapper-side-right-main-text-5 button:hover {
    background-color: #333;
}

.wrapper-side-right-text-5 {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
 
    width: 59px;
}

.wrapper-side-right-text-5 p {
    position: relative;
    left: 10px;

    transform: rotate(-90deg);
    width: 273px;

    font-size: 103px;
    font-weight: 700;
    letter-spacing: 6.2px;
    line-height: 120px;
    color:#252525; 
    text-transform: uppercase;
    text-align: justify;
}

.circle-5 {
    margin-top: 72px;
    width: 395px;
    height: 395px;

    background-color: #aa84f9;
    border-radius: 50%;
}

.circle-small-5 {
    width: 22px;
    height: 22px;
    margin-right: 132px;

    background-color: #aa84f9;
    border-radius: 50%;
}

/* SECTION 6 (start now 'video') */

.section-6-video-start-now {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    padding: 0 56px 0 56px;
    height: 800px;
}

.wrapper-central-video-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url('../images/section6_video.png') no-repeat;
    background-size: 100% 100%;

    height: 606px;
    width: 1044px;
}

.wrapper-central-video-6 p {
    padding-top: 45px;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 83px;
    letter-spacing: 4.4px;
    color: #181818;
    text-transform: uppercase;

    opacity: 0.17;
}

.wrapper-central-video-6 img {
    margin-top: 25px;
    margin-right: 65px;
    mix-blend-mode: hard-light;
}

.wrapper-central-video-6 img:hover {
    filter: hue-rotate(-20deg);
}

.wrapper-central-video-6 p:last-child {
    padding-right: 57px;
}

.wrapper-central-video-6 p:first-child {
    padding-left: 57px;
}

.wrapper-side-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;

    height: 606px;
}

.wrapper-side-6.aligned-left-6 {
    padding-top: 62px ;
}
 
.wrapper-side-6 p {
    width: 200px;
    padding: 0 45px 0 49px;
}

.aligned-left-6 p {
    text-align: right;
}

.wrapper-side-6 div {
    display: flex;
    transform: rotate(270deg);
}

.aligned-left-6 img {
    transform: rotate(90deg);
    height: 59px;
}

.aligned-right-6 img {
    transform: rotate(-90deg);
    height: 59px;
}

.aligned-left-6 div {
    margin-top: 75px;
    margin-right: 3px;
}

.aligned-right-6 div {
    align-items: center;
    margin-bottom: 58px;
    margin-left: 12px;
}
