* {
    margin: 0px;
    padding: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

body {
    background-color: #181818;
    font-family: 'Krub', sans-serif;
    color: #FFF;
    display: flex;
    justify-content: center;

}

.hero-wrapper {
    width: 1440px;

}

/* 
    гарнитура Krub встречается чаще, 
    поэтому она прописана в body. 
    В классах текстовых тегов, где 
    встречается Oswald, используем:

    font-family: 'Oswald', sans-serif;

    Что касается весов, то вот шпаргалочка:

    Light                       300
    Regular                     400
    Medium                      500              
    Semibold                    600
    Bold                        700 

*/


/* SECTION 2 (accept new challenges,
   explore, about, down arrow) */

.section-2-new-challenges {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    padding: 0 56px 0 56px;
    height: 860px;
}

.wrapper-top-2 {
    display: flex;
    justify-content: space-between;

    height: 513px;
}

.wrapper-side-2 {
    display: flex;
    flex-direction: column;

    width: 100px;
    font-weight: 700;
}

.wrapper-side-2 p {
    font-size: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    white-space: nowrap;
}
 
.aligned-left-2 {
    justify-content: space-evenly;
}

.aligned-right-2 div {
    transform: rotate(90deg);
    transform-origin: right;
    margin: 0 7px 0 84px;
}

.aligned-left-2 div {
    transform: rotate(270deg);
    transform-origin: left;
    margin: 0 0 57px 5px;
}

.wrapper-side-2 div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.wrapper-central-header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    font-size: 57px;
    line-height: 100px;
    letter-spacing: 5.2px;
    text-transform: uppercase;
    text-align: center;

    margin-top: 20px;
    margin-left: 3px ;

    background: url('../images/oval_with_circles.png') no-repeat;
    background-size: 74.5%;
    background-position: 139px 33px;
}

.wrapper-central-header-2 span {
    letter-spacing: 5px;
    font-weight: 300;
}

.wrapper-bottom-2 {
    display: flex;
    justify-content: space-between;
}

.wrapper-bottom-2 p {
    font-weight: bold;
    color: #252525;
    font-size: 52px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 250px;
}

.wrapper-bottom-2 img {
    padding-top: 16px;
}

.wrapper-bottom-2 img {
    padding-top: 16px;
}

.wrapper-bottom-2 p:last-child {
    text-align: end;
    padding-right: 2px;
}

/* section 3 (find your course,
four course cards, more courses)  */

.section-3-courses {
    height: 835px;
    padding: 0 56px 0 56px;

}

.wrapper-title-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.header-left-3 {
    margin-left: -7px;
    font-size: 29.75pt;
    font-weight: 400;
}


.header-left-3 span:first-child {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 116px;
    text-transform: uppercase;
}

.header-left-3 span:last-child {
    letter-spacing: 3.1px;
    padding-left: 1px;
}

.wrapper-title-right-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;

    font-weight: 700;
    font-size: 17.5px;
    letter-spacing: 3.4px;
    line-height: 28px;
    text-transform: uppercase;

    padding-bottom: 13px;
    margin-right: -4px;
}

.wrapper-title-right-3 span {
    font-size: 30px;
    letter-spacing: 6px;
}
 
.wrapper-title-right-3 i {
    padding-bottom: 48px;
}

.wrapper-cards-3 {
    display: flex;
    align-items: center;
}

.wrapper-cards-3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 45px;

    margin-top: 37.5px;
    margin-left: -1px;
}

.wrapper-card-3 {
    width: 291px;
    height: 376px;
    border: 3px solid white;
    box-sizing: border-box;
}

.wrapper-card-3.wrapper-card-3:first-child  {
    margin-right: 15px;
}

.wrapper-card-3.wrapper-card-3:last-child {
    margin-left: 12px;
}

.wrapper-card-3 p:first-child {
    width: 45px;
    height: 44px;

    margin-left: -3px;

    background-color: white;

    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    color: black;
    line-height: 46px;
    line-height: 42px;
    letter-spacing: 1.5px;
}

.wrapper-card-3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper-card-3 div p {
    width: 230px;

    margin-bottom: 31px;

    font-size: 10.26pt;
    font-weight: 600;
    text-align: center;
    line-height: 27px;
    letter-spacing: 1px;
}

 
.wrapper-card-3 h3 {
    margin-top: 29px;
    margin-bottom: 13px;

    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.wrapper-card-3 h3 span {
    color: #b885fc;
}

.wrapper-card-3 hr {
    width: 53px;
    height: 2px;

    background-color: #b885fc;
    border-radius: 10%;
    margin-bottom: 15px;
    border: black 1px solid;
}

.wrapper-card-3 button {
   width: 125px;
   height: 48px;

   padding-bottom: 3px;

   background-color: #b885fd; 
   border: 1px solid rgb(84, 63, 11);

   font-family: 'Oswald', sans-serif;
   font-size: 15px;
   font-weight: 700;
   letter-spacing: 0.6px;
   color: #FFF;
   text-transform: uppercase;
}

.wrapper-card-3 button:hover {
    color: #b885fd;
    background-color: #FFF;
}

.wrapper-more-courses-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 46px 69px 0 0;

    letter-spacing: 0.6px;
    font-weight: 700;
}

.wrapper-more-courses-3 p {
    margin-right: 81px;
    font-weight: 700;
    text-transform: uppercase;

}

.wrapper-more-courses-3 p:hover {
    color:#b885fd
}

.wrapper-more-courses-3 img {
    transform: rotate(-90deg);
}

/* SECTION 5 (y us, read море)*/

.section-5-whyUs-more{
    height: 700px;      /* i guess, this will be modified */
    padding: 0 56px 0 56px;
    display: flex;
    justify-content: space-between;
}

.wrapper-sideLeft-dudeInCircle-5{
    width:664px;
    height:445px;
    transform: rotateX(180deg);
    background: url('../images/oval_with_circles.png') no-repeat;
    background-size:100%;
}
.wrapper-sideLeft-dudeInCircle-5 img{
    transform: rotateX(180deg);
    background-size: cover;
}

.wrapper-sideRight-texter-5{
    width:504px;
    height:430px;
    /*127*/
}
.wrapper-sideRight-texter-5 p{
    font-size: 13px;
    font-weight: 600;
    width:376px;
    letter-spacing: 0.015em;
    line-height: 24px;
}
.wrapper-sideRight-texter-5 p:first-child{
    font-weight: 700;
    font-size: 58px;
}
.wrapper-sideRight-texter-5 span{
    color:#aa84f9;
    letter-spacing: 0.1em;
    font-size: 58px;
    font-weight: 400;
}
.wrapper-sideRight-texter-5 button{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background-color: #aa84f9;
    width:126px;
    height:50px;
    font-size: 13px;
    letter-spacing: 0.05em;
    color:#ffffff;
    font-weight: 600;
    border:none;
    
    /*height from top = 44px*/
}
.wrapper-sideRight-texter-5 button:hover{
    background-color: #333;
}
.circle-5{
    width:395px;
    height:395px;
    background-color: #aa84f9;
    border-radius: 50%;
}


/* SECTION 6 (start now 'video') */

.section-6-video-start-now {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    padding: 0 56px 0 56px;
    height: 800px;

}

.wrapper-central-video-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url('../images/section6_video.png') no-repeat;
    background-size: 100% 100%;

    height: 606px;
    width: 1044px;
}

.wrapper-central-video-6 p {
    padding-top: 45px;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 83px;
    letter-spacing: 4.4px;
    color: #181818;
    text-transform: uppercase;

    opacity: 0.17;
}

.wrapper-central-video-6 img {
    margin-top: 25px;
    margin-right: 65px;
    mix-blend-mode: hard-light;
}

.wrapper-central-video-6 img:hover {
    filter: hue-rotate(-20deg);
}

.wrapper-central-video-6 p:last-child {
    padding-right: 57px;
}

.wrapper-central-video-6 p:first-child {
    padding-left: 57px;
}

.wrapper-side-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;

    height: 606px;
}

.wrapper-side-6.aligned-left-6 {
    padding-top: 62px ;
}
 
.wrapper-side-6 p {
    width: 200px;
    padding: 0 45px 0 49px;
}

.aligned-left-6 p {
    text-align: right;
}

.wrapper-side-6 div {
    display: flex;
    transform: rotate(270deg);
}

.aligned-left-6 img {
    transform: rotate(90deg);
    height: 59px;
}

.aligned-right-6 img {
    transform: rotate(-90deg);
    height: 59px;
}

.aligned-left-6 div {
    margin-top: 75px;
    margin-right: 3px;
}

.aligned-right-6 div {
    align-items: center;
    margin-bottom: 58px;
    margin-left: 12px;
}
