* {
    margin: 0px;
    padding: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

body {
    background-color: #181818;
    font-family: 'Krub', sans-serif;
    color: #FFF;
    display: flex;
    justify-content: center;

}

.hero-wrapper {
    width: 1440px;

}

/* 
    гарнитура Krub встречается чаще, 
    поэтому она прописана в body. 
    В классах текстовых тегов, где 
    встречается Oswald, используем:

    font-family: 'Oswald', sans-serif;

    Что касается весов, то вот шпаргалочка:

    Light                       300
    Regular                     400
    Medium                      500              
    Semibold                    600
    Bold                        700 

*/


/* SECTION 2 (accept new challenges,
   explore, about, down arrow) */

.section-2-new-challenges {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    padding: 0 56px 0 56px;
    height: 860px;
}

.wrapper-top-2 {
    display: flex;
    justify-content: space-between;

    height: 513px;
}

.wrapper-side-2 {
    display: flex;
    flex-direction: column;

    width: 100px;
    font-weight: 700;
}

.wrapper-side-2 p {
    font-size: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    white-space: nowrap;
}
 
.aligned-left-2 {
    justify-content: space-evenly;
}

.aligned-right-2 div {
    transform: rotate(90deg);
    transform-origin: right;
    margin: 0 7px 0 84px;
}

.aligned-left-2 div {
    transform: rotate(270deg);
    transform-origin: left;
    margin: 0 0 57px 5px;
}

.wrapper-side-2 div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.wrapper-central-header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    font-size: 57px;
    line-height: 100px;
    letter-spacing: 5.2px;
    text-transform: uppercase;
    text-align: center;

    margin-top: 20px;
    margin-left: 3px ;

    background: url('../images/oval_with_circles.png') no-repeat;
    background-size: 74.5%;
    background-position: 139px 33px;
}

.wrapper-central-header-2 span {
    letter-spacing: 5px;
    font-weight: 300;
}

.wrapper-bottom-2 {
    display: flex;
    justify-content: space-between;
}

.wrapper-bottom-2 p {
    font-weight: bold;
    color: #252525;
    font-size: 52px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 250px;
}

.wrapper-bottom-2 img {
    padding-top: 16px;
}

.wrapper-bottom-2 img {
    padding-top: 16px;
}

.wrapper-bottom-2 p:last-child {
    text-align: end;
    padding-right: 2px;
}

/* section 3 (find your course,
four course cards, more courses)  */

.section-3-courses {
    height: 835px;
    padding: 0 56px 0 56px;

}

.wrapper-title-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.header-left-3 {
    margin-left: -7px;
    font-size: 29.75pt;
    font-weight: 400;
}


.header-left-3 span:first-child {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 116px;
    text-transform: uppercase;
}

.header-left-3 span:last-child {
    letter-spacing: 3.1px;
    padding-left: 1px;
}

.wrapper-title-right-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;

    font-weight: 700;
    font-size: 17.5px;
    letter-spacing: 3.4px;
    line-height: 28px;
    text-transform: uppercase;

    padding-bottom: 13px;
    margin-right: -4px;
}

.wrapper-title-right-3 span {
    font-size: 30px;
    letter-spacing: 6px;
}
 
.wrapper-title-right-3 i {
    padding-bottom: 48px;
}

.wrapper-cards-3 {
    display: flex;
    align-items: center;
}

.wrapper-cards-3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 45px;

    margin-top: 37.5px;
    margin-left: -1px;
}

.wrapper-card-3 {
    width: 291px;
    height: 376px;
    border: 3px solid white;
    box-sizing: border-box;
}

.wrapper-card-3.wrapper-card-3:first-child  {
    margin-right: 15px;
}

.wrapper-card-3.wrapper-card-3:last-child {
    margin-left: 12px;
}

.wrapper-card-3 p:first-child {
    width: 45px;
    height: 44px;

    margin-left: -3px;

    background-color: white;

    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    color: black;
    line-height: 46px;
    line-height: 42px;
    letter-spacing: 1.5px;
}

.wrapper-card-3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper-card-3 div p {
    width: 230px;

    margin-bottom: 31px;

    font-size: 10.26pt;
    font-weight: 600;
    text-align: center;
    line-height: 27px;
    letter-spacing: 1px;
}

 
.wrapper-card-3 h3 {
    margin-top: 29px;
    margin-bottom: 13px;

    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.wrapper-card-3 h3 span {
    color: #b885fc;
}

.wrapper-card-3 hr {
    width: 53px;
    height: 2px;

    background-color: #b885fc;
    border-radius: 10%;
    margin-bottom: 15px;
    border: black 1px solid;
}

.wrapper-card-3 button {
   width: 125px;
   height: 48px;

   padding-bottom: 3px;

   background-color: #b885fd; 
   border: 1px solid rgb(84, 63, 11);

   font-family: 'Oswald', sans-serif;
   font-size: 15px;
   font-weight: 700;
   letter-spacing: 0.6px;
   color: #FFF;
   text-transform: uppercase;
}

.wrapper-card-3 button:hover {
    color: #b885fd;
    background-color: #FFF;
}

.wrapper-more-courses-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 46px 69px 0 0;

    letter-spacing: 0.6px;
    font-weight: 700;
}

.wrapper-more-courses-3 p {
    margin-right: 81px;
    font-weight: 700;
    text-transform: uppercase;

}

.wrapper-more-courses-3 p:hover {
    color:#b885fd
}

.wrapper-more-courses-3 img {
    transform: rotate(-90deg);
}

/* SECTION 6 (start now 'video') */

.section-6-video-start-now {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    padding: 0 56px 0 56px;
    height: 800px;

}

.wrapper-central-video-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url('../images/section6_video.png') no-repeat;
    background-size: 100% 100%;

    height: 606px;
    width: 1044px;
}

.wrapper-central-video-6 p {
    padding-top: 45px;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 83px;
    letter-spacing: 4.4px;
    color: #181818;
    text-transform: uppercase;

    opacity: 0.17;
}

.wrapper-central-video-6 img {
    margin-top: 25px;
    margin-right: 65px;
    mix-blend-mode: hard-light;
}

.wrapper-central-video-6 img:hover {
    filter: hue-rotate(-20deg);
}

.wrapper-central-video-6 p:last-child {
    padding-right: 57px;
}

.wrapper-central-video-6 p:first-child {
    padding-left: 57px;
}

.wrapper-side-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;

    height: 606px;
}

.wrapper-side-6.aligned-left-6 {
    padding-top: 62px ;
}
 
.wrapper-side-6 p {
    width: 200px;
    padding: 0 45px 0 49px;
}

.aligned-left-6 p {
    text-align: right;
}

.wrapper-side-6 div {
    display: flex;
    transform: rotate(270deg);
}

.aligned-left-6 img {
    transform: rotate(90deg);
    height: 59px;
}

.aligned-right-6 img {
    transform: rotate(-90deg);
    height: 59px;
}

.aligned-left-6 div {
    margin-top: 75px;
    margin-right: 3px;
}

.aligned-right-6 div {
    align-items: center;
    margin-bottom: 58px;
    margin-left: 12px;
}

/* SECTION 7 (reviews, comments) */
.section-7-reviews-comments{
    height:750px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.wrapper-top-text-7{
    color:#aa84f9;
    font-weight: 400;
    font-size:42px;
    letter-spacing: 0.1em;
}
.wrapper-top-text-7 span{
    text-transform: uppercase;
    color:#fff;
    font-weight: 700;
    font-size:93px;
    letter-spacing: 0em;
}
.wrapper-allReviews-7{
    height:440px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper-review1-7{
    width:264px;
    height:400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper-review1-7 p{
    color:#aeaeae;
    font-weight: 600;
    font-size:12px;
    letter-spacing: 0.015em;
    line-height: 23px;
}
.wrapper-review1-7 p:first-child{
    /* it doesnt apply!! */
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: uppercase;
}
.wrapper-review2-7{
    width:281px;
    height:440px;
    display: flex;
    justify-content: center;
    flex-direction: column;     /* code duplication!! */
}
.wrapper-review2-7 p{
    color:#aeaeae;
    font-weight: 600;
    font-size:12px;
    letter-spacing: 0.015em;
    line-height: 23px;
}
.wrapper-review2-7 p:first-child{
    /* it doesnt apply!! */
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: uppercase;
}
.wrapper-reviews-imgBlock-7{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width:178px;
    height:178px;
    border: #9172d1 3px solid;
    border-radius: 50%;
}
.wrapper-stars-7{
    display: flex;
    justify-content: space-between;
    width:134px;
}
.wrapper-review2-7 img{
    margin-top:-46px;
    margin-left:-58px;
}
.wrapper-review3-7{
    width:264px;
    height:395px;
    display: flex;
    justify-content: center;
    flex-direction: column;         /* code duplication!! */
}
.wrapper-review3-7 p{
    color:#aeaeae;
    font-weight: 600;
    font-size:12px;
    letter-spacing: 0.015em;
    line-height: 23px;
}
.wrapper-review3-7 p:first-child{
    /* it doesnt apply!! */
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: uppercase;
}
.quotes-7::before{
    content: "“";
    color: #9172d1;
    font-size: 30px;
}
.quotes-7::after{
    content:"”";
    color: #9172d1;
    font-size: 30px;
}
.wrapper-bottom-arrows-7{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;  /* is it proper? */
    width:300px;
    /* and what's with the height? */
    
}

.wrapper-bottom-arrows-7 img:first-child{
    transform: rotate(90deg);   
    margin-bottom: 68px;
}
.wrapper-bottom-arrows-7 img:last-child{
    transform: rotate(-90deg);
    margin-top: 68px;    
}